networks:
  app-network:

services:
  db:
    image: postgres:16
    pull_policy: never
    restart: unless-stopped
    environment:
      POSTGRES_USER:  ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_USER}
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 2s
      retries: 20

  frontend:
    env_file: ".env"
    pull_policy: never
    container_name: frontend
    build:
      context: .
      target: runner
      args:
        DATABASE_URL: ${DATABASE_URL}
        NODE_ENV: ${NODE_ENV}
        NEXT_PUBLIC_BASE_URL: ${NEXT_PUBLIC_BASE_URL}
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    command: ["node", "server.js"]

volumes:
  postgres_data:
